*.dcu
Code/__history/
Code/lib/x86_64-win64/
*.dll
*.exe
*.local
*.dsk
*.dsv
*.identcache
*.res
*.vrc
*.rsm
UPedit.ini
Code/kdef/__history
*.local
*.bat
*.zip
Code/__recovery
QtCode/.qtc_clangd
.vs
QtCode/build
QtCode/debug
QtCode/out
QtCode/release
QtCode/.qmake.stash
QtCode/Makefile
QtCode/Makefile.Debug
QtCode/Makefile.Release
QtCode/UPEdit.qtvscr
